<table class="table">
  <thead>
      <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="4"></th>
      </tr>
  </thead>
  <tbody>
      <% users.each do |user| %>
      <tr>
          <td>
          <%= link_to user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, :size => '40x40', format: 'jpeg', fallback: "no_image.jpg", class: "attachment user profile_image fallback" %>
          <% end %>
          </td>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= link_to user.followings.count, following_user_path(user.id) %>フォロー</td>
          <td><%= link_to user.followers.count, followers_user_path(user.id)%>フォロワー</td>
          <td>
          <% if user != current_user %>
              <% if current_user.following?(user) %>
                  <%= link_to 'フォロー外す', unfollow_path(user.id), class: 'btn-outline-danger btn-sm', method: :DELETE %>
              <% else %>
                  <%= link_to 'フォローする', follow_path(user.id), class: 'btn-outline-primary btn-sm', method: :POST %>
              <% end %>
          <% end %>
          </td>
          <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= paginate @users %>